* {
    font-size: 18px;
}

body {
    color: hsl(192, 100%, 9%);
}

p {
    font-weight: 400;
}

h1 {
    font-family: 'Poppins';
}

nav button:hover {
    cursor: pointer;
    color: hsl(208, 11%, 55%);
}

.hero-section {
    background-image: url(../images/bg-hero-desktop.svg);
}

.hero-section .hero-img img {
    width: 700px;
}

.hero-section .hero-about p, button {
    font-family: 'Open Sans', sans-serif;
}

.hero-section .hero-about button:hover {
    background-color: #f9a8d4;
}

.grow-img img {
    width: 600px;
}

.flow-img img {
    width: 700px;
}

.users-img img {
    width: 600px ;
}

.question-card {
    text-align: center;
    width: 50rem;
}

.question-card button {
    padding: 1rem 2rem;
}