* {
    font-size: 18px;
}

.btn {
    font-family: 'Open Sans', sans-serif;
}

.hero-section {
    background-image: url(../images/bg-hero-desktop.svg);
}

.hero-section .hero-img img {
    width: 700px;
}